@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    background-origin: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#F2F3FF, #CBD4FF);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background: #151A2E;
    transition: all 0.4s ease;
}

.sidebar.collapsed {
    width: 85px;

}

.sidebar .sidebar-header {
    display: flex;
    position: relative;
    align-items: center;
    padding: 25px 20px;
    justify-content: space-between;
}

.sidebar-header .header-logo img {
    height: 46px;
    width: 46px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
}


.sidebar-header .sidebar-toggler {
    position: absolute;
    right: 25px;
    height: 35px;
    width: 35px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #EEF2FF;
    transition: 0.4s ease;
    margin: 0;
    padding: 0;
}


.sidebar-header .sidebar-toggler:hover {
    background: #d9e1fd;
}

.sidebar.collapsed .sidebar-toggler {
    transform: translateY(65px);
}

.sidebar-header .sidebar-toggler span {
    font-size: 1.75rem;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-toggler span {
    transform: rotate(180deg);
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
    transform: translateY(65px);
}

.sidebar-nav .nav-item .nav-link {
    color: #fff;
    display: flex;
    text-decoration: none;
    /* gap: 12px; */
    white-space: nowrap;
    padding: 8px;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    /* border: 1px solid #151A2E; */
    transition: 0.4s ease;
    transform: translateY(15px);
}

.sidebar-nav .nav-item:hover>.nav-link {
    background: #EEF2FF;
    color: #151A2E;
}

.sidebar-nav .nav-link .nav-label {
    transition: opacity 0.3s ease;
}
.sidebar-nav .nav-list .nav-item .nav-link{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sidebar.collapsed .nav-link .nav-label {
    display: none;
    opacity: 0;
    pointer-events: none;

}

.sidebar.collapse .nav-link .nav-label:hover{}


/* top header */
.topbar {
    background: #6F8FAF;
    height: 85px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 30px;
}

.acc {
    display: flex;
    width: 50px;
    height: 50px;
    background: #233C67;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #EEF2FF;
    cursor: pointer;
    transition: 0.4s ease;
}

.acc:hover {
    background-color: #d9e1fd;
    color: #151A2E;
    transition: 0.4s ease;
}


/* main */
main {
    margin-left: 85px;
    /* border: 3px solid red; */
    height: 100%;
    padding: 1.75rem;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    /* border-bottom: 1px solid #151A2E; */
    /* border: 3px solid yellow */
}

.addtask {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 40px; */
    height: 40px;
    border-radius: 8px;
    border: none;
    background: #151A2E;
    color: #EEF2FF;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.addtask:hover {
    background-color: #d9e1fd;
    color: #151A2E;
    transition: 0.4s ease;
}

.main-content {

    display: flex;
    gap: 10px;
}

.list1 {
    padding: 10px;
    border: 3px solid #151A2E;
    height: auto;
    width: 300px;
    border-radius: 16px;
    /* background: linear-gradient(#FFDBE9, #dec8ff );*/
    background: linear-gradient(#C7DBF0, #A7C7E7)
}

.list-container {
    /* border: 3px solid blue; */
    display: flex;
    gap: 20px;
    flex-direction: row;

}

.line {
    width: 100%;
    border: 1px solid #151A2E;
}





.taskButton {
    /* height: 100%; */
    border: none;
    background: #151A2E;
    color: #F2F3FF;
    cursor: pointer;
    border-radius: 0.5rem;
    height: 100%;
    aspect-ratio: 1/1;
    
}

.btnContainer {
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 35px;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

.noEdit{
    border: none;
    background: transparent;
    pointer-events: none;
}

.noEdit:focus{
    outline: 2px solid black;
}

.taskList > li{
    list-style: none;
}

.taskInput {
    width: 70%;
    padding: 5px;
    /* border: 1px solid #151A2E; */
    border-radius: 8px;
    margin: auto 10px;
}


input:focus{
    outline: none;
}

.taskInput:focus{
    outline: none;
}
.miniTask{
      width: 70%;
    padding: 5px;
    /* border: 1px solid #151A2E; */
    border-radius: 8px;
    margin: auto 10px;
}

.edit-task{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    border: 1px solid #151A2E;
    transition: 0.4s ease;
    cursor: pointer;
    background: #FFBF00;
    padding: 5px;
    width: 25px;
    height: 25px;   
}
.edit-task:hover{
    background: #d9e1fd;
    color: #151A2E;
    transition: 0.4s ease;
    /* width: 27px;
    height: 27px;
    transform: translateX(1px);
    transform: translateY(1px); */
}

li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.material-symbols-outlined {
  font-size: 18px !important;  /* smaller than default */
  line-height: 1;   /* prevents weird vertical offset */
  /* color: black; */

}
#dateLabel {
    padding: 5px;
    border-radius: 8px;
    border: none;
    margin: 10px 0;
}

.exitBtnContainer{
    display: flex;
    justify-content: space-between;
}

.listSettings {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;

    /* Frosted glass from here */

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px); 
    -webkit-backdrop-filter: blur(4px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 10;
    /* to here */
}


.closeListSettings{
    border: none;
    background: transparent;
    cursor: pointer;
}

.closeListSettings:hover{
    color: red;
    transition: 0.4s ease;
}

#dateID {
    padding: 5px;
    border-radius: 0.5rem;
    /* border: none; */
    margin: 10px 0;
    
}

.listNameInput{
    padding: 5px;
    border-radius: 0.5rem;
    /* border: none; */
    margin: 10px 0;
}

.addTaskBtn{
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background: #151A2E;
    color: #EEF2FF;
    cursor: pointer;
}

.d-none {
    display: none;
}

.dateLabel{
  text-shadow: 1px 1px lightgray;
}

.createNewListBtn{
    background: #53AC53;
}

.newListInput{
    display: flex;
    padding: 5px;
    /* border: 1px solid #151A2E; */
    border-radius: 8px;
    margin: 0;
    width: 100%;
    justify-content: flex-end;
}
